.contenedor{
    border: 10px solid lightskyblue;
    margin:auto;
    width:90%;
    height:700px;
    text-align: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,150px );
    grid-template-rows: repeat(3,auto);
    justify-items:center ;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}
    .contenedor div{
    background-color:blueviolet;
    border: 2px solid pink;
    height: 100px;
    width:100px;
    }
    grid-template-areas: "arriba arriba arriba" 
                        "izquierda contenido derecha"
                        "izquierda anuncio derecha"
                        "abajo abajo abajo";
}


.contenedor .uno{
background-color: aquamarine;
grid-column:2/3 ;
grid-row: 2/3;
grid-column: arriba;
}
.contenedor .dos{
    background-color: hotpink;
    grid-row:izquierda;
}
.contenedor .tres{
background-color: darkturquoise;
grid-column: contenido;

}
.contendor .cuatro{
background-color: lightgreen;
grid-area: anuncio;
}
.contenedor .cinco{

background-color: lightseagreen;
grid-area: derecha;
}
.contenedor .seis{
    grid-area: abajo;
background-color: lightpink;
} 
